<!DOCTYPE html>
<head>
    <title>AdUTels - Booking</title>
    <link rel="stylesheet" type="text/css" href="../styles/stylesheet.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"> </script>

</head>

<body class="bodyrooms">
    <div class="topnav">
		<div class="logonav"><img src="../images/logo.png" id="logo"></div>
        <div class="lblnav">AdUTels</div>
        <div class="linksnav">
            <a href="home.html">Home</a>
            <a href="#">Contact Us</a>
            <a href="logon.html">Log-out</a>
        </div>
    </div>

    <div class="container" id="sample">
    	<div class="divleft">
            <div class="column leftcol">
                <img src="../images/header.png" alt="logo" class="center imgleftcol">
                <span v-html="menu1"></span>
                <span v-html="menu2"></span>
                <span v-html="menu3"></span>
                <span v-html="menu4"></span>
                <span v-html="menu5"></span>
            </div>
		</div>
        <div class="divright">
            <!-- Room details STARTS here-->
            <div class="column maincontent" v-for="room in rooms">
                <div class="division">
                    <div class="conts">
                        <h1> {{room.Room_Name}} </h1>
                        <p class="roomloc">{{room.address}}</p>
                        <table class="roomprops" style="width:80%; margin:auto;">
                            <tr>
                                <td>웃 Max Guests: {{room.max_guests}}</td>
                                <td>⌺ Bedrooms: {{room.no_bedrooms}}</td>
                            </tr>
                            <tr>
                                <td>⌸ Beds: {{room.no_bed}}</td>
                                <td>◧ Baths: {{room.no_bath}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="conts">
                        <h1> Comments </h1>
                        <p>{{room.comments_and_feedback}}</p>
                    </div>
                </div>
                <div class="division">
                    <div class="bookingcol">
                        <h1> {{room.currency_symbol}} {{room.price}}<span class="smaller"> per night </span> </h1>
                        <p>	From: <input type="date" v-model="room.begindate" class="dateselector"></p>
                        <p>	Until: <input type="date" v-model="room.enddate" class="dateselector"></p>
                        <p>
                            <span>Guests</span>
                                <select class="dateselector" v-model="room.guestnumbers">
                                <option class="dateselector" v-for="i in room.max_guests" v-model="room.guestnumbers">{{i}}</option>
                                </select>
                        </p>
                        <p><i>I confirm the details below are correct</i><br><input type="submit" value="Reserve"></p>
                        <p>
                        	Book for: {{room.Room_Name}}<br>
                            For amount of: {{room.currency_symbol}} {{room.price * room.days_of_stay}}<br>
                            From: {{room.begindate}}<br>
                            Until: {{room.enddate}}<br>
                            Days of stay: {{room.days_of_stay}}<br>
                            With # of guests: {{room.guestnumbers}}<br> 
                            Date: {{currentdate}}<br> 
                        </p>


                    </div>
                </div>
            </div>
            <!-- Room details ends here-->
        </div>
	</div>
<script src="../javascript/index.js"></script>
</body>
</html>