<!DOCTYPE html>
<head>
    <title>AdUTels - REF1</title>
    <link rel="stylesheet" type="text/css" href="styles/stylesheet.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"> </script>

</head>

<body class="home" style="background-image:url(images/wallpaper2.jpg);">
    <div class="topnav">
		<div class="logonav"><img src="images/logo.png" id="logo"></div>
        <div class="lblnav">AdUTels</div>
        <div class="linksnav">
            <a href="home.html">Home</a>
            <a href="#">Contacts</a>
            <a href="logon.html">Log-out</a>
        </div>
    </div>

    <div class="container" id="sample">
        <div class="column leftcol samplefz">
            <img src="images/header.png" alt="logo" class="center imgleftcol">
            <a class="menuitem" :href="seerooms"> See available rooms </a>
            <div class="divider"></div>
            <a class="menuitem" v-bind:href="bookhotel"> Book a hotel </a>
            <div class="divider"></div>
            <a class="menuitem" v-bind:href="removebooking"> Remove a booking request </a>
            <div class="divider"></div>
            <a class="menuitem" v-bind:href="viewbooking"> View booking requests </a>
            <div class="divider"></div>
            <a class="menuitem" v-bind:href="updatebooking"> Update booking requests</a>
        </div>
        <div class="column maincontent samplefz">
        
        	<h1> Lectures for Vue</h1>
        	<h1 v-if="showName">[ {{ctr}} ] {{name}} </h1>
            <p>
                <span> {{foods[0]}}</span>
                <span> {{foods[1]}}</span>
                <span> {{foods[2]}}</span>
			</p>
            <p>
            	<span v-for="fd in foods">
            		{{fd}}
                </span>
            </p>
            <p>
            	<span v-for="fd in foods">Food name: {{fd.foodname}} | Rating: {{fd.rating}} <br></span>
            </p>
            <input type="text" v-model="updates">
            <input type="button" v-on:click="clearThis" v-on:contextmenu="setHustino" value="Btn for JS"><br>
            {{updates}} || {{name}}
        </div>
	</div>
<script src="javascript/index.js"> </script>
</body>
</html>
