<!DOCTYPE html>
<head>
    <title>AdUTels - REF1</title>
    <link rel="stylesheet" type="text/css" href="styles/stylesheet.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"> </script>

</head>

<body class="home" style="background-image:url(images/wallpaper2.jpg);">
    <div class="topnav">
		<div class="logonav"><img src="images/logo.png" id="logo"></div>
        <div class="lblnav">AdUTels</div>
        <div class="linksnav">
            <a href="home.html">Home</a>
            <a href="#">Contacts</a>
            <a href="logon.html">Log-out</a>
        </div>
    </div>

    <div class="container" id="sample">
    	<div class="divleft">
            <div class="column leftcol">
                <img src="images/header.png" alt="logo" class="center">
                <span v-html="menu1"></span>
                <span v-html="menu2"></span>
                <span v-html="menu3"></span>
                <span v-html="menu4"></span>
                <span v-html="menu5"></span>
            </div>
        </div>
    	<div class="divright">
            <div class="column maincontent samplefz">
            
                <h1> Lectures for Vue</h1>
                <h1 v-if="showName">[ {{ctr}} ] {{name}} </h1>
                <p>
                    <span> {{foods[0]}}</span>
                    <span> {{foods[1]}}</span>
                    <span> {{foods[2]}}</span>
                </p>
                <p>
                    <span v-for="fd in foods">
                        {{fd}}
                    </span>
                </p>
                <p>
                    <span v-for="fd in foods">Food name: {{fd.foodname}} | Rating: {{fd.rating}} <br></span>
                </p>
                <input type="text" v-model="updates">
                <input type="button" v-on:click="clearThis" v-on:contextmenu="setHustino" value="Btn for JS"><br>
                {{updates}} || {{name}}
            </div>
		</div>
	</div>
<script src="javascript/index.js"> </script>
</body>
</html>
