@charset "utf-8";
/* CSS Document */

div	{
	display:block;
}
body {
	background-size:cover;
    background-color: #66ff99;
	width:100% !important;
	margin:0 !important;
}

body .logons	{
}

body .home	{
}

.topnav {
	background-color: rgba(180,255,235,1);
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 200px);
	min-width: 670px;
	height: 50px;
	max-height: 50px;
	padding-left:100px;
	padding-right:100px;
	z-index: 1;
    box-shadow: 0px 0px 5px 1px rgba(60,60,60,.4) inset;
}

.logonav 	{
	float: left;
	height: 50px;
}
#logo {
	width: 50px;
	height: 50px;
}

.lblnav 	{
	float: left;
	width: 150px;
    color: #5590ea;
	font-family: "Cooper Black";
	text-shadow: 2px 2px 5px rgba(0,0,0,.4);
	font-size: 32px;
    text-align: left;
	padding: 7px 0;
}

.container	{
	width:90%;
	margin:55px auto 0;
}

.logons .column {
	background-image: url(../images/row-bg.jpg);
	background-color: #4390bc;
	position: relative;
	overflow: hidden;
	margin: 5px auto;
	border: 1px solid #68a7ca;
    box-shadow: 1px 1px 5px 1px rgba(60,60,60,.4);
    padding: 15px;
	width: 400px;
	max-height: 400px;
}

.linksnav 	{
	float: right;
	direction:ltr;
	width: auto;
	min-width: 250px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
    text-align: left;
	overflow: auto; 
}

.linksnav a {
    color: #000;
    float: left;
    display: block;
    text-align: center;
    padding: 15.5px 16px;
    text-decoration: none;
}

.topnav a:hover {
	background-color: rgba(0,0,0,.4);
    color: #0CF;
}

.home .column {
	float: left;
	background-image: url(../images/row-bg.jpg);
	background-color: #4390bc;
	overflow: hidden;
	margin: 5px;
	border: 1px solid #68a7ca;
    box-shadow: 1px 1px 5px 1px rgba(60,60,60,.4);
    padding: 5px;
}

.leftcol	{
	width: 250px;
	padding: 0 !important;
}

.maincontent	{
	width: calc(100% - 300px);
}

.leftcol a {
	width:calc(100% - 32px);
    color: #36F;
    float: left;
    display: block;
    text-align: center;
    padding: 15.5px 16px;
    text-decoration: none;
}

.leftcol a:hover {
	background-color: rgba(255,255,255,.4);
    color: #009;
}
/*
.menuitem a	{
    color: #000;
    float: right;
    display: block;
    text-align: center;
    padding: 15.5px 16px;
    text-decoration: none;
	height: auto;
}
.menuitem a:hover {
	background-color: rgba(0,0,0,.4);
    color: #0CF;
}
*/
div.divider	{
	margin:2px auto;
	overflow:hidden;
	width: 100%;
	position:relative;
	border-bottom:solid #3F9 1px;
}
	
img	{
	
}
img.center	{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
img.imgleftcol	{
	width:100%;
}

.content {
	margin-left: 20px;
}

td	{
	padding: 0 5px;
}

.lbl	{
	width: 70px;
	height: 40px;
	text-align:right;
}

span.label {
	font-size:12px;
	font-weight:bold;
	color: #424242;
}

.txt	{
	width: 200px;
	vertical-align: central;
}

#texts	{
	width: 200px;
	height: 23px;
	padding-left: 5px;
	color:#000;
	background-color:#9DD;
	border: 1px solid #3CF;
}

.center	{
	margin: auto;
}