@charset "utf-8";
/* CSS Document */

div	{
}
body {
	background-size:cover;
	width:100% !important;
	margin:0 !important;
}

.bodyrooms	{
	background-image:url(../images/wallspaper2.jpg);
	background-color: #e2fff5;
	background-size:cover;
	width:100% !important;
	margin:0 !important;
}


.topnav {
	background-color: rgba(180,255,235,1);
	position: fixed;
	top: 0;
	width: calc(100% - 200px);
	height: 50px;
    min-width: 459px;
	padding-left:100px;
	padding-right:100px;
	z-index: 1;
    box-shadow: 0px -1px 3px 1px rgba(0,0,0,.4);
}

.logonav 	{
	float: left;
	height: 50px;
}
#logo {
	width: 50px;
	height: 50px;
}

.lblnav 	{
	float: left;
	width: 150px;
    color: #5590ea;
	font-family: "Cooper Black";
	text-shadow: 2px 2px 5px rgba(0,0,0,.4);
	font-size: 32px;
    text-align: left;
	padding: 7px 0;
}

.container	{
	width:90%;
	height:calc(100vh - 55px);
	margin:55px auto 0;
}

.divleft	{
	float:left;
	display:block;
	width:262px;
	overflow:hidden;
}

.divright	{	
	left:335px;
	float:left;
	display:block;
	width: calc(100% - 262px) !important;
	overflow:hidden;
}

.logonform {
	background-image: url(../images/row-bg.jpg);
	background-color: #4390bc;
	position: relative;
	overflow: hidden;
	margin:auto;
	border: 1px solid #68a7ca;
    box-shadow: 1px 1px 5px 1px rgba(60,60,60,.4);
    padding: 15px;
	width: 400px;
	max-height: 400px;
}

.linksnav 	{
	float: right;
	direction:ltr;
	width: auto;
	min-width: 250px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
    text-align: left;
	overflow: auto; 
}

.linksnav a {
    color: #000;
    float: left;
    display: block;
    text-align: center;
    padding: 16.2px 16px;
    text-decoration: none;
}

.topnav a:hover {
	background-color: rgba(0,0,0,.4);
    color: #0CF;
}


.menuitem 	{
    color: #C30;
}

.menuitem a {
    color: #C30;
    float: left;
    display: block;
    text-align: center;
    padding: 15.5px 16px;
    text-decoration: none;
}

.menuhover a:hover {
	background-color: rgba(0,0,0,.4);
    color: #0CF;
}
.column {
	float: left;
	/*background-image: url(../images/row-bg.jpg);*/
	background-color: #fff;
	overflow: hidden;
	margin: 5px;
	border: 1px solid #68a7ca;
    box-shadow: 1px 1px 5px 1px rgba(60,60,60,.4);
    padding: 5px;
}ont

.leftcol	{
	width: 250px;
	padding: 0 !important;
	position:fixed;
}

.frame	{
	width: 250px;
	height:250px;
	padding: 0 !important;
	display:block;
	foat:left;
}

.maincontent	{
	width: 98%;
	min-width:500px;
	padding:0;
}

.leftcol a {
	width:calc(100% - 32px);
    color: #000;
    float: left;
    display: block;
    text-align: center;
    padding: 15.5px 16px;
    text-decoration: none;
}

.leftcol a:hover {
	background-color: rgba(255,255,255,.4);
    color: #009;
}

div.divider	{
	margin:2px auto;
	overflow:hidden;
	width: 100%;
	position:relative;
	border-bottom:solid #3F9 1px;
}
	
img	{
	width:100%;
}
img.center	{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.content {
	margin-left: 20px;
}

td	{
	padding: 0 5px;
}

.lbl	{
	width: 70px;
	height: 40px;
	text-align:right;
}

span.label {
	font-size:12px;
	font-weight:bold;
	color: #424242;
}

.txt	{
	width: 200px;
	vertical-align: central;
}

#texts	{
	width: 200px;
	height: 23px;
	padding-left: 5px;
	color:#000;
	background-color:#9DD;
	border: 1px solid #3CF;
}

.center	{
	margin: auto;
}
input.dateselector	{
	font-family:"Comic Sans MS", cursive;
	color:#003;
}

h1	{
	color: #434343;
	font-size: 24px;
	margin-top:0;
}
.smaller	{
	font-size:12px;
	font-style:italic;
}
.leftpanel{
	float: left;
	margin-top:5px;
	width:50%;
}

.division	{
	float: left;
	margin: 0 5px;
	width: calc(50% - 10px);
}
.conts{
	padding:5px;
	margin: 10px 0;
	text-align:left;
}
.roompics{
	padding:5px;
	margin: 10px 0;
	text-align:left;
	height: 300px;
}
.bookingcol{
	padding:5px;
	margin: 10px 0;
	text-align:left;
	background-color:rgba(255,255,255,0.5);
	box-shadow:0 0 5px 1px rgba(0,0,0,.2);	
}


.roomloc	{
	color: #434343;
	font-size:16px;
	text-decoration:none;
	
}
.roomprops	{
	color: #434343;
	font-size:16px;
	text-decoration:none;
	
}